h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}
body {
  font-family: serif;
  background-color: #f0fff8;
}
nav,
footer {
  background-color: #c0d8df;
}

.landscape {
  max-width: 40%;
  padding: 5;
}

